body,
h1,
h2,
h3,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #152434;
}

header {
    background-color: #1b72d0;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.7s;
}

header nav ul li a:hover {
    color: #ff7b00;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    opacity: 0;
    animation: fadeIn 0.4s ease-in-out forwards;
    margin-bottom: 20px;
}

h1 {
    color: #96d497;
}

h2 {
    margin-bottom: 10px;
    color: #e41c97;
}

h3 {
    color: #c8ff00;
}

p {
    margin: 10px 0;
}

#about {
    background-color: #6ae470;
    padding-bottom: 10px;
}

#about .about-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 200px;
}

#projects {
    background-color: #093711;
    color: #fff;
}

#contact {
    background-color: #c1930b;
    border-top: 2px solid #ddd;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #ddd;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #007bff;
}

#projects a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

#projects a:hover {
    color: #ff7b00;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    #about {
        background-color: #6ae470;
    }
}

@media screen and (max-width: 768px) {
    #about {
        background-color: #7ec9a7;
    }
}

@media screen and (max-width: 480px) {
    #about {
        background-color: #9ce2e7;
    }
}
